html,
body {
  padding: 0;
  margin: 0;
  background-color: black;
  font-family: "Montserrat", sans-serif !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
