.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  color: white;
  background-color: black;
}

.video {
  max-width: 100%;
  max-height: 100%;
  pointer-events: all !important;
  background-color: black;
  height: fit-content;
}

.videoWrapper {
  width: 100%;
  height: 90%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: 0.75s ease-out 0s 1 zoomIn;
}

@keyframes zoomIn {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 100%;
  }
}

.swiper {
  height: 100%;
  width: 100%;
  overflow: hidden !important;
}

.slide {
  display: flex;
  justify-content: center;
  align-content: center;
}

.btnWrapper {
  height: 10%;
  display: flex;
  align-items: stretch;
  width: 100%;
  background-color: black;
  animation: 1s ease-out 0s 1 slideInFromBottom;
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(125%);
    opacity: 0%;
  }
  100% {
    transform: translateY(0);
    opacity: 100%;
  }
}

.button {
  outline: none;
  border: 0;
  color: white;
  font-size: 1em;
  font-weight: 500;
  flex: 1;
  position: relative;
  cursor: pointer;
}

.no {
  background-color: black;
  margin-right: 18px;
}

.no:hover {
  color: rgba(255, 255, 255, 0.7);
}

.no:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  width: 0px;
  height: 0px;
  right: -18px;
  border-top: 10vh solid black; /* hehe because the button wrapper is the height of 10% :3 */
	border-right: 15px solid #8239df;
  z-index: 1000;
}

.yes {
  background-color: #8239df;
  /* background-color: #48af54; */
}

.yes:hover {
  color: rgba(255, 255, 255, 0.7);
}

.loading {
  width: 100%;
  text-align: center;
}

.loading:after {
  content: " ♪┏(・o･)┛♪";
  animation: animation 2s infinite 0s;
}

@keyframes animation {
  0% {
    content: " ♪┗ ( ･o･) ┓♪";
  }
  50% {
    content: " ♪┏(・o･)┛♪";
  }
  100% {
    content: " ♪┗ ( ･o･) ┓♪";
  }
}